:root{
--default: #ff8300;
--bg-color: rgb(238, 238, 238);
--white: #fff;
--dark: #141414;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Product Sans' sans-serif;
    background-color: var(--bg-color);
}

:focus{
    outline: none;
}

.logo img{
   width: 180px;
   height: 30px;
}

.whole-nav{
    background-color: var(--white);
    display: flex;
    padding: 0 40px 0 80px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 7.5px #a3a3a338;
}

.nav__links ul{
    display: flex; 
}

.nav__tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.nav__links ul li{
    list-style: none;
    margin-right: 12px;
}
.nav-search{
    border: 1.5px solid var(--default);
}

.nav-search:hover{
    background-color: var(--default);
    color: var(--white);
}

.search__form{
    margin: 0 60px 0 70px;
}

.search__box{
    width: 500px;
    height: 37px;
    border-radius: 2.5px;
    border: 1.9px solid var(--bg-color);
    padding: 0 12px;
}

.search__box:focus{
    box-shadow: 0px 0px 3.5px var(--default);
    border: none;
}

.nav__title{
    color: var(--dark);
}

.nav__title:hover{
    color: var(--default);
}

.nav-icon{
   font-size: larger;
   margin-right: -8px;
}

.flex__banner{
    display: flex;
    width: 75%;
    margin: 0.05in 1.8in;
    border-radius: 5px;
}

.sidenav{
    width: 450px;
    background-color: var(--white);
    padding: 5px 20px;
    height: 412px;
}

.content{
    margin: 0 0 6px 10px;
}

.content a{
    color: var(--dark);
    font-size: large;
}

.content a small{
    margin-left: 7.5px;
}

.content a:hover{
    color: var(--default);
    text-decoration: none;
}

.block__links{
    display: flex;
    margin: 0.07in 1.65in;
}

.block__id{
    width: 250px;
    height: 50px;
    background-color: var(--white);
    margin: 0 7px;
    border-radius: 4px;
    padding: 10px 16px;
    box-shadow: 0px 0px 4.5px #a8a8a883;
    display: flex;
}

.block__id i{
    font-size: x-large;
    color: var(--default);
    margin-top: 2.5px;
}

.block__id small{
    color: var(--dark);
    margin-left: 8px;
    font-size: 12pt;
    font-weight: 500;
    margin-top: 1.5px;
}

.block__links a:hover{
    text-decoration: none;
}

/* Styles for the product cards */
.first-card-row{
    background-color: var(--white);
    width: 84%;
    margin: 0 1.3in;
    padding: 0 15px 30px 2px;
    /* box-shadow: 1px 1px 4.5px #77777779; */
}
.product__container{
    display: flex;
    margin: 0 1px;
    align-items: center;   
}

.product__container a{
    position: relative;
    text-decoration: none;
    color: var(--dark);
}
.product__card{
    padding: 10px;
}
.product__card img{
   width: 150px;
   height: 150px;
}

.card-title{
    margin: 10px ;
}

.discount-info{
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 64px;
    padding: 2px;
    border-radius: 4px;
}

.discount-info em{
    font-style: normal;
    font-weight: 600;
    color: var(--default);
}

.product__info{
    margin-left: 9px;
}
.product__info small{
    font-weight: 600;
    font-size: 12pt;
}

.product__info strong{
    font-size: 11pt;
}

.product__info strong span{
    text-decoration: double line-through;
}

.product__info del{
    font-weight: 500;
    font-size: 10pt;
}

.product__info del span{
    text-decoration: double line-through;
}

.product__card:hover{
    box-shadow: 0px 0px 8.5px #64646444;
    border-radius: 4px;
}

.card-title-special{
    background-color: var(--default);
    width: 1135px;
    margin: .2in 0 0 1.3in;
    padding: 2px 12px;
    color: var(--white);
    display: flex;
    gap: 750px;
    justify-content: center;
    align-items: center;
}

.card-title-special a h4 {
    text-transform: uppercase;
    font-size: 10.5pt;
    font-weight: 600;
    color: white;
    margin-top: 7px;
}

.card-title-special a:hover{
    text-decoration: underline #ebebeb;
}

#deals-card-row{
margin-top: 40px;
}

/* Styles for the Shop Collection area */
.second-card-row{
    background-color: var(--white);
    width: 84%;
    margin: 0 1.3in;
    padding: 0 15px 30px 2px;
}

#shop-collection{
    margin-top: .1in;
}

.collection__container{
    display: flex;
    margin: 0 13.5px;
    align-items: center;   
}

.collection__container a{
    position: relative;
    text-decoration: none;
    color: var(--dark);
}

.collection__card{
    padding: 10px;
}
.collection__card img{
   width: 135px;
   height: 75px;
}

.collection__info small{
    font-weight: 600;
    font-size: 12pt;
    margin-left: 22.5px;
}

.collection__card:hover{
    box-shadow: 0px 0px 8.5px #64646444;
    border-radius: 4px;
}

/* Styling the flex ad*/
.flex-ad{
    display: flex;
    margin: .1in 1.25in;
}

.flex-part img{
    width: 550px;
    height: 250px;
    border-radius: 5px;
    margin: 0 10px;
    transform-origin: 1 0;
    transition: transform .25s, visibility .25s ease-in;
}
.flex-part:hover img{
    transform: scale(0.95);
}

.block-title-scroll {
    background-color: #fff;
    padding: 25px;
    display: flex;
  }
  
  .block-title-notice {
    background-color: #fff;
    padding: 30px;
    margin-left: -70px;
    margin-right: -50px;
  }
  
  .block-title-page {
    background-color: #fff;
    padding: 8px;
    margin-left: -70px;
    margin-right: -50px;
  }
  
  .info-post {
    margin-top: 50px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .info-post2 {
    margin-top: 50px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.05);
  }
  
  .block-title {
    color: rgb(177, 177, 177);
    font-weight: 600;
    text-transform: uppercase;
  }

  .notice {
    font-size: 14px;
    font-weight: 700;
    margin-top: -10px;
    color: rgb(90, 90, 90);
    text-align: left;
  }
  .notice-text {
    color: rgb(97, 97, 97);
    font-size: 12px;
    text-align: left;
  }
